.paragraph {
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 22px;
    margin: 20px;
    margin-bottom: 0px;
}

.container1__item {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-column-gap: 10px;
}

@media (max-width: 767px) {
    .container1__item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 5px;
        justify-content: stretch;
    }
}

.container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1px;
    align-items: center;
    justify-content: start;
}

.container2__item {
    display: grid;
    grid-template-rows: 35px;
    grid-template-columns: 1fr 14fr 1fr;
    grid-row-gap: 12px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 767px) {
    .container2__item {
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
        word-break: break-word;
        padding: 15px;
    }
}

.container__buttons {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-column-gap: 13px;
    align-items: center;
}

@media (max-width: 767px) {
    .container__buttons {
        display: grid;
        grid-template-columns: auto;
    }

    .container__buttons--items {
        display: grid;
        align-items: center;
    }
}