.form {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
}

.form__input {
    padding: 10px;
    max-width: 600px;
}

.form__button {
    padding: 10px;
    background-color: teal;
    border: 1px solid teal;
    color: #fff;
    transition: 1s;
}

.form__button:hover {
    transform: scale(1.2);
}