.buttons__button {

    background-color: #fff;
    padding: 10px;
    font-size: 15px;
    border: none;
    color: teal;
    transition: 1s;
}

@media (max-width: 767px) {
    .buttons {
        display: grid;
        align-items: center;
    }
}

.buttons__button:hover {
    color: hsl(180, 100%, 40%);
}

.buttons__button:active {
    color: hsl(180, 100%, 55%);
}

.buttons__button:disabled {
    color: #ccc;
}

.buttons__button--hidden {
    background-color: #fff;
    border: none;
    padding: 0px;
}